# Logs
# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.output/


# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.swp

# Test coverage
coverage/

# Docker volumes (данные БД локально)
postgres_data/
